.cell-header {
  font-weight: 500;
}

.framerate-header {
  font-weight: 500;
}

.button-toolbar-container {
  width: 600px;
  padding-left: 50px;
  margin-top: 10px;
}

.rule-button-container.btn-toolbar {
  display: flex !important;
  flex-direction: column !important;
  flex-shrink: 0;
}

.framerate-slider {
  margin-top: 40px !important;
}

.birth-button-toolbar-container {
  padding-bottom: 20px;
}

.rule-header {
  font-weight: 500;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}

.color-pickers {
  display: flex;
  flex-direction: row;
  margin: 10px 50px 30px 50px;
  justify-content: space-around;
  flex-shrink: 0;
}

.submit-container {
  margin-top: 20px;
  margin-bottom: 20px;
  flex-shrink: 0;
}

.help-icon {
  margin: -2px 0px 0px 5px;
}
